@use '00_mixins' as *;

.announcement-popup {
  position: fixed;
  width: get-rem-desktop(300);
  right: get-rem-desktop(24);
  bottom: get-rem-desktop(24);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  @include transition(opacity 500ms cubic-bezier(0.25, 0.1, 0.25, 1));

  @media only screen and (max-width: 820px) {
    right: get-rem-mobile(11) !important;
    bottom: get-rem-mobile(11) !important;
  }

  &.closing {
    opacity: 0 !important;
  }

  &:not(.closing) {
    opacity: 1;
    pointer-events: auto;
  }

  .announcement-popup__content {
    background-color: $colour-cream;
    @include flex;
    @include flex-direction(column);
  }

  .announcement-popup__close {
    cursor: pointer;
    padding: get-rem-desktop(4) get-rem-desktop(16) get-rem-desktop(7);
    text-align: right;
    text-decoration: underline;
  }

  .announcement-popup__carousel {
    width: 100%;
    flex: 1;
    min-height: 0;
  }

  .announcement-popup__slide {
    @include flex;
    @include flex-direction(column);
    height: 100%;
    padding-left: get-rem-desktop(16);
    padding-right: get-rem-desktop(16);
  }

  .announcement-popup__image,
  .announcement-popup__text-content {
    width: get-rem-desktop(268);
  }

  .announcement-popup__image {
    aspect-ratio: 268 / 339;

    .button-wrap--overlay-media {
      opacity: 1;
    }
  }

  .announcement-popup__text-content {
    @include flex;
    @include flex-direction(column);
    gap: get-rem-desktop(14);
    padding: get-rem-desktop(18) 0;
  }

  .carousel-controls {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    column-gap: get-rem-desktop(24);

    padding-left: get-rem-desktop(16);
    padding-right: get-rem-desktop(16);
    padding-bottom: get-rem-desktop(24);

    .carousel-arrow {
      width: get-rem-desktop(36);
      height: get-rem-desktop(36);
      cursor: pointer;

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }

      svg {
        stroke: $colour-black;
        fill: none;
      }
    }

    .carousel-pagination {
      text-align: center;
    }
  }
}

