@use '00_mixins' as *;

.booking-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 99;
  background-color: rgba($colour-black, 0.8);
  opacity: 0;
  pointer-events: none;

  @media only screen and (min-width: 821px) {
    opacity: 1;
    pointer-events: auto;
  }

  .booking-overlay__inner-wrap {
    background-color: $colour-cream;
    @include flex;
    opacity: 0;
    padding-top: calc(get-rem-desktop(106) + get-rem-desktop(40));
    padding-bottom: get-rem-desktop(40);
    padding-left: get-rem-desktop(80);
    padding-right: get-rem-desktop(80);

    @media only screen and (max-width: 820px) {
      padding-top: calc(get-rem-mobile(63) + get-rem-mobile(40));
      padding-bottom: get-rem-mobile(40);
      padding-left: get-rem-mobile(24);
      padding-right: get-rem-mobile(24);
    }
  }

  .booking-overlay__tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: get-rem-desktop(4);
    width: 100%;

    @media only screen and (max-width: 1240px) {
      @include flex;
      overflow-y: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;
      margin-left: get-rem-desktop(-80);
      margin-right: get-rem-desktop(-80);
      padding-left: get-rem-desktop(80);
      padding-right: get-rem-desktop(80);
      width: calc(100% + get-rem-desktop(160));

      &::-webkit-scrollbar {
        display: none !important;
      }
    }

    @media only screen and (max-width: 820px) {
      margin-left: get-rem-mobile(-24);
      margin-right: get-rem-mobile(-24);
      padding-left: get-rem-mobile(24);
      padding-right: get-rem-mobile(24);
      width: calc(100% + get-rem-mobile(48));
    }
  }

  .booking-overlay__tab {
    @include reset-input;
    background-color: $colour-white;
    color: $colour-black;
    border: 1px solid $colour-beige;
    padding: 0;
    cursor: pointer;
    @include flex;
    @include align-items(center);
    @include justify-content(space-between);
    column-gap: get-rem-desktop(16);
    will-change: background-color;
    @include transition(background-color 500ms cubic-bezier(0.25,0.1,0.25,1));
    overflow: hidden;
    padding: get-rem-desktop(12);
    padding-right: get-rem-desktop(16);

    @media only screen and (max-width: 1240px) {
      min-width: get-rem-desktop(300);
      width: 100%;
    }

    @media (hover: hover) {
      &:hover {
        background-color: rgba($colour-beige, 0.5);
      }
    }
  }

  .booking-overlay__tab-image {
    height: 100%;
    width: 100%;
    aspect-ratio: 183 / 100;
    overflow: hidden;
    position: relative;
    width: get-rem-desktop(300);

    @media only screen and (max-width: 1728px) {
      width: get-rem-desktop(180);
    }

    @media only screen and (max-width: 1240px) {
      aspect-ratio: 1 / 1;
      width: get-rem-desktop(100);
    }
  }

  .booking-overlay__tab-label {
    text-align: center;
    width: 100%;
  }

}