/* Import mixins */
@use '00_mixins' as *;

/*
GENERAL STYLES --------------------
*/

html, html a {
	-webkit-font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/* Prevent overscroll bounce to stop fixed content from being visible during overscroll */
html,
body {
  overscroll-behavior: none;
}

html:not(.scroll-enabled) {
  overflow: hidden;
}

html.scroll-enabled {
  overflow: auto;
}

html.scroll-enabled body {
  position: static;
}

* {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  font-family: 'ABC Arizona Flare';
  font-weight: 300;
  @include font-size(16px, 16px);
  line-height: calc(24 / 16) + em;
  background: $colour-beige;
  color: $colour-black;
  text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
}

p, ul, ol {
  margin-bottom: get-rem-desktop(18);

  &:last-child {
		margin-bottom: 0px !important;
	}

  a:not(.button) {
    @include underline;
  }
}

ul,
ol {
  list-style: disc;
  padding-left: 1em;
}

input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  &:not(.button) {
    will-change: opacity;
    @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

/*
DIV / IMG / VIDEO ------------------
*/

img, video, svg {
	display: block;
	width: 100%;
	height: auto;
}

svg {
  overflow: visible !important;
}

/*
LAZYLOAD WRAPS ------------------
*/

.lazyload-wrap {
	position: relative;
	display: block;
	width: 100%; height: auto;
}

.sized-lazyload-wrap {
	position: relative;
	display: block;
	width: 100%; height: auto;
	overflow: hidden;
	
	.padding-element {
		position: relative;
		display: block;
		width: 100%; height: auto;
		z-index: 1;
	}
	
	img, video {
		z-index: 2;
	}
}

/*
LOADING OVERLAY(S) ------------------
*/

.image-wrap {
	position: relative;
	display: block;
  width: 100%;
	height: auto;
}

.loading-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: $colour-orange; 
	@include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));
	will-change: opacity;
	
	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

img.full-bleed-image,
video.full-bleed-video {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	top: 0%;
	left: 0%;
	object-fit: cover;
	object-position: 50% 50%;
	pointer-events: none;
}

/*
VIDEO CONTENT ------------------
*/

.video-placeholder {
	position: absolute;
	width: 100%;
  height: 100%;
	top: 0;
  left: 0;
	@extend %background-cover;
	z-index: 10;
	@include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));
	will-change: opacity;

	&.hidden {
		opacity: 0;
		pointer-events: none;
	}
}

.fill-space-video-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
  z-index: 1;
	
	video {
		position: absolute;
		width: auto;
		height: auto;
		@extend %centered-element;
		z-index: 2;
    object-fit: cover;
    width: 100%;
    height: 100%;
	}
	
	&.fill-width { 
		video {
			width: 100%;
			height: auto;
		}
	}
	
	&.fill-height { 
		video {
			width: auto;
			height: 100%;
		}
	}
}

.fill-space-image-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
  z-index: 1;
}