@use '00_mixins' as *;

.basket-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  z-index: 100;
  pointer-events: none;

  .basket-drawer__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($colour-black, 0.5);
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
  }

  .basket-drawer__inner-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    max-width: get-rem-desktop(576);
    height: 100%;
    background-color: $colour-beige;
    overflow-y: auto;
    opacity: 1;
    pointer-events: none;
    transform: translateX(-100%);
    will-change: transform;
    @include flex;
    @include flex-direction(column);
    padding-top: get-rem-desktop(38);
    padding-bottom: get-rem-desktop(40);
    padding-left: get-rem-desktop(40);
    padding-right: get-rem-desktop(40);
  }

  .basket-drawer__header {
    @include flex;
    @include justify-content(space-between);
    @include align-items(flex-end);
    margin-bottom: get-rem-desktop(75);
  }

  .basket-drawer__close {
    cursor: pointer;
    will-change: opacity;
    @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  .basket-drawer__content {
    flex: 1;
    @include flex;
    @include flex-direction(column);
    min-height: 0;
  }

  .basket-drawer__empty {
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    flex: 1;
    color: $colour-black;
    margin-top: get-rem-desktop(-75);
  }

  .basket-drawer__items {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(24);
    flex: 1;
    overflow-y: auto;
  }

  .basket-drawer__item {
    @include flex;
    column-gap: get-rem-desktop(24);
    padding-bottom: get-rem-desktop(30);
    border-bottom: 1px solid $colour-cream;
    position: relative;

    &:last-child {
      border-bottom: none;
    }
  }

  .basket-drawer__item-image {
    aspect-ratio: 140 / 186;
    width: get-rem-desktop(140);
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background-color: $colour-white;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .basket-drawer__item-details {
    flex: 1;
    @include flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    position: relative;
  }

  .basket-drawer__item-title {
    margin-top: -0.2em;
  }

  .basket-drawer__item-meta {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
  }

  .basket-drawer__item-price {
    font-size: get-rem-desktop(16);
    font-weight: 400;
    color: $colour-black;
  }

  .basket-drawer__item-remove {
    cursor: pointer;
    width: fit-content;

    svg {
      width: get-rem-desktop(12);
      height: get-rem-desktop(16);
      fill: $colour-black;
      will-change: fill;
      @include transition(fill 500ms cubic-bezier(0.25,0.1,0.25,1));
    }

    @media (hover: hover) {
      &:hover {
        svg {
          fill: rgba($colour-black, 0.6);
        }
      }
    }
  }

  .basket-drawer__summary {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(20);
    padding-top: get-rem-desktop(20);
    border-top: 1px solid $colour-cream;
    margin-bottom: get-rem-desktop(105);
  }

  .basket-drawer__summary-row {
    @include flex;
    @include justify-content(space-between);

    &--total {
      padding-top: get-rem-desktop(22);
      border-top: 1px solid $colour-cream;
      font-size: 24px;
      line-height: normal;
    }
  }

  .basket-drawer__giftcard {
    margin-bottom: get-rem-desktop(24);

    p {
      font-size: get-rem-desktop(14);
      color: $colour-black;
      margin-bottom: get-rem-desktop(8);

      @media only screen and (max-width: 820px) {
        font-size: get-rem-mobile(12);
        margin-bottom: get-rem-mobile(6);
      }
    }
  }

  .basket-drawer__giftcard-input {
    @include reset-input;
    width: 100%;
    padding: get-rem-desktop(10) get-rem-desktop(12);
    background-color: $colour-white;
    border: 1px solid rgba($colour-black, 0.2);
    font-size: get-rem-desktop(14);
    color: $colour-black;

    &::placeholder {
      color: rgba($colour-black, 0.5);
    }
  }

  .basket-drawer__actions {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(28);
  }

  .basket-drawer__checkout {
    width: 100%;
  }

  .basket-drawer__continue {
    cursor: pointer;
    text-decoration: underline;
    will-change: opacity;
    @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}