@use '00_mixins' as *;

.basket-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  z-index: 100;
  background-color: rgba($colour-black, 0.5);
  opacity: 0;
  pointer-events: none;

  .basket-drawer__inner-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: $colour-beige;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    @include flex;
    @include flex-direction(column);
    padding: get-rem-desktop(40) get-rem-desktop(40);

    @media only screen and (max-width: 768px) {
      width: 100%;
      padding: get-rem-mobile(24);
    }
  }

  .basket-drawer__header {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    margin-bottom: get-rem-desktop(40);
    padding-bottom: get-rem-desktop(20);
    border-bottom: 1px solid rgba($colour-black, 0.1);

    @media only screen and (max-width: 768px) {
      margin-bottom: get-rem-mobile(24);
      padding-bottom: get-rem-mobile(16);
    }
  }

  .basket-drawer__title {
    font-size: get-rem-desktop(24);
    font-weight: 400;
    color: $colour-black;
    margin: 0;

    @media only screen and (max-width: 768px) {
      font-size: get-rem-mobile(20);
    }
  }

  .basket-drawer__close {
    @include reset-input;
    background: none;
    border: none;
    color: $colour-black;
    font-size: get-rem-desktop(16);
    cursor: pointer;
    padding: get-rem-desktop(8);
    will-change: opacity;
    @include transition(opacity 300ms cubic-bezier(0.25,0.1,0.25,1));

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }

    @media only screen and (max-width: 768px) {
      font-size: get-rem-mobile(14);
      padding: get-rem-mobile(6);
    }
  }

  .basket-drawer__content {
    flex: 1;
    @include flex;
    @include flex-direction(column);
    min-height: 0;
  }

  .basket-drawer__empty {
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    flex: 1;
    color: $colour-black;
    font-size: get-rem-desktop(18);

    @media only screen and (max-width: 768px) {
      font-size: get-rem-mobile(16);
    }
  }

  .basket-drawer__items {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(24);
    margin-bottom: get-rem-desktop(32);
    flex: 1;
    overflow-y: auto;

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(20);
      margin-bottom: get-rem-mobile(24);
    }
  }

  .basket-drawer__item {
    @include flex;
    column-gap: get-rem-desktop(16);
    padding-bottom: get-rem-desktop(24);
    border-bottom: 1px solid rgba($colour-black, 0.1);
    position: relative;

    @media only screen and (max-width: 768px) {
      column-gap: get-rem-mobile(12);
      padding-bottom: get-rem-mobile(20);
    }
  }

  .basket-drawer__item-image {
    width: get-rem-desktop(100);
    height: get-rem-desktop(100);
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background-color: $colour-white;

    @media only screen and (max-width: 768px) {
      width: get-rem-mobile(80);
      height: get-rem-mobile(80);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .basket-drawer__item-details {
    flex: 1;
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(8);
    position: relative;
    padding-right: get-rem-desktop(32);

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(6);
      padding-right: get-rem-mobile(24);
    }
  }

  .basket-drawer__item-title {
    font-size: get-rem-desktop(16);
    font-weight: 400;
    color: $colour-black;
    margin: 0;

    @media only screen and (max-width: 768px) {
      font-size: get-rem-mobile(14);
    }
  }

  .basket-drawer__item-variant {
    font-size: get-rem-desktop(14);
    color: rgba($colour-black, 0.7);
    margin: 0;

    @media only screen and (max-width: 768px) {
      font-size: get-rem-mobile(12);
    }
  }

  .basket-drawer__item-controls {
    @include flex;
    @include align-items(center);
    @include justify-content(space-between);
    column-gap: get-rem-desktop(16);
    margin-top: get-rem-desktop(8);

    @media only screen and (max-width: 768px) {
      column-gap: get-rem-mobile(12);
      margin-top: get-rem-mobile(6);
    }
  }

  .basket-drawer__item-quantity {
    @include flex;
    @include align-items(center);
    column-gap: get-rem-desktop(8);
    font-size: get-rem-desktop(14);

    @media only screen and (max-width: 768px) {
      column-gap: get-rem-mobile(6);
      font-size: get-rem-mobile(12);
    }

    label {
      color: $colour-black;
    }
  }

  .basket-drawer__quantity-select {
    @include reset-input;
    background-color: $colour-white;
    border: 1px solid rgba($colour-black, 0.2);
    padding: get-rem-desktop(4) get-rem-desktop(8);
    font-size: get-rem-desktop(14);
    color: $colour-black;
    cursor: pointer;
    border-radius: 0;

    @media only screen and (max-width: 768px) {
      padding: get-rem-mobile(3) get-rem-mobile(6);
      font-size: get-rem-mobile(12);
    }
  }

  .basket-drawer__item-price {
    font-size: get-rem-desktop(16);
    font-weight: 400;
    color: $colour-black;

    @media only screen and (max-width: 768px) {
      font-size: get-rem-mobile(14);
    }
  }

  .basket-drawer__item-remove {
    @include reset-input;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: get-rem-desktop(4);
    color: rgba($colour-black, 0.6);
    will-change: color;
    @include transition(color 300ms cubic-bezier(0.25,0.1,0.25,1));

    @media (hover: hover) {
      &:hover {
        color: $colour-black;
      }
    }

    @media only screen and (max-width: 768px) {
      padding: get-rem-mobile(3);
    }

    svg {
      width: get-rem-desktop(14);
      height: get-rem-desktop(14);
      stroke: currentColor;
      fill: none;

      @media only screen and (max-width: 768px) {
        width: get-rem-mobile(12);
        height: get-rem-mobile(12);
      }
    }
  }

  .basket-drawer__summary {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(12);
    margin-bottom: get-rem-desktop(24);
    padding-top: get-rem-desktop(24);
    border-top: 1px solid rgba($colour-black, 0.1);

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(10);
      margin-bottom: get-rem-mobile(20);
      padding-top: get-rem-mobile(20);
    }
  }

  .basket-drawer__summary-row {
    @include flex;
    @include justify-content(space-between);
    font-size: get-rem-desktop(14);
    color: $colour-black;

    @media only screen and (max-width: 768px) {
      font-size: get-rem-mobile(12);
    }

    &--total {
      font-weight: 600;
      font-size: get-rem-desktop(18);
      padding-top: get-rem-desktop(12);
      border-top: 1px solid rgba($colour-black, 0.1);
      margin-top: get-rem-desktop(4);

      @media only screen and (max-width: 768px) {
        font-size: get-rem-mobile(16);
        padding-top: get-rem-mobile(10);
        margin-top: get-rem-mobile(4);
      }
    }
  }

  .basket-drawer__giftcard {
    margin-bottom: get-rem-desktop(24);

    @media only screen and (max-width: 768px) {
      margin-bottom: get-rem-mobile(20);
    }

    p {
      font-size: get-rem-desktop(14);
      color: $colour-black;
      margin-bottom: get-rem-desktop(8);

      @media only screen and (max-width: 768px) {
        font-size: get-rem-mobile(12);
        margin-bottom: get-rem-mobile(6);
      }
    }
  }

  .basket-drawer__giftcard-input {
    @include reset-input;
    width: 100%;
    padding: get-rem-desktop(10) get-rem-desktop(12);
    background-color: $colour-white;
    border: 1px solid rgba($colour-black, 0.2);
    font-size: get-rem-desktop(14);
    color: $colour-black;

    @media only screen and (max-width: 768px) {
      padding: get-rem-mobile(8) get-rem-mobile(10);
      font-size: get-rem-mobile(12);
    }

    &::placeholder {
      color: rgba($colour-black, 0.5);
    }
  }

  .basket-drawer__actions {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(16);

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(12);
    }
  }

  .basket-drawer__checkout {
    width: 100%;
  }

  .basket-drawer__continue {
    @include reset-input;
    background: none;
    border: none;
    color: $colour-black;
    font-size: get-rem-desktop(14);
    text-decoration: underline;
    cursor: pointer;
    padding: get-rem-desktop(8);
    will-change: opacity;
    @include transition(opacity 300ms cubic-bezier(0.25,0.1,0.25,1));
    text-align: center;

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }

    @media only screen and (max-width: 768px) {
      font-size: get-rem-mobile(12);
      padding: get-rem-mobile(6);
    }
  }
}

// Product page option styles
.product-options {
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(36);
}

.product-option {
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(8);
}

.product-option-swatches {
  @include flex;
  column-gap: get-rem-desktop(10);
}

.product-option-swatch {
  @include reset-input;
  width: get-rem-desktop(26);
  height: get-rem-desktop(26);
  border: 1px solid transparent;
  cursor: pointer;
  will-change: border-color;
  @include transition(border-color 300ms cubic-bezier(0.25,0.1,0.25,1));

  &.selected {
    border-color: $colour-black;
  }

  @media (hover: hover) {
    &:hover:not(.selected) {
      border-color: rgba($colour-black, 0.5);
    }
  }
}

.product-option-buttons {
  @include flex;
  column-gap: get-rem-desktop(8);
  flex-wrap: wrap;

  @media only screen and (max-width: 768px) {
    column-gap: get-rem-mobile(6);
  }
}

.product-option-button {
  @include reset-input;
  padding: get-rem-desktop(8) get-rem-desktop(16);
  background-color: $colour-white;
  border: 1px solid rgba($colour-black, 0.2);
  color: $colour-black;
  font-size: get-rem-desktop(14);
  cursor: pointer;
  will-change: background-color, border-color;
  @include transition-multiple(background-color 300ms cubic-bezier(0.25,0.1,0.25,1), border-color 300ms cubic-bezier(0.25,0.1,0.25,1));

  @media only screen and (max-width: 768px) {
    padding: get-rem-mobile(6) get-rem-mobile(12);
    font-size: get-rem-mobile(12);
  }

  &.selected {
    background-color: $colour-beige;
    border-color: $colour-black;
  }

  @media (hover: hover) {
    &:hover:not(.selected) {
      background-color: rgba($colour-beige, 0.5);
      border-color: rgba($colour-black, 0.5);
    }
  }
}

.product-add-to-basket {
  width: 100%;
  margin-top: get-rem-desktop(24);

  @media only screen and (max-width: 768px) {
    margin-top: get-rem-mobile(20);
  }

  &:disabled {
    background-color: $colour-black;
    cursor: not-allowed;

    &:hover {
      background-color: $colour-black;
    }
  }
}
