@use '00_mixins' as *;

.booking-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  z-index: 99;
  background-color: $colour-cream;
  opacity: 0;
  pointer-events: none;

  .booking-overlay__inner-wrap {
    height: 100%;
    @include flex;
    @include flex-direction(column);
    opacity: 0;
    pointer-events: none;
    padding-top: calc(get-rem-desktop(106) + get-rem-desktop(80));
    padding-bottom: get-rem-desktop(40);
    padding-left: get-rem-desktop(80);
    padding-right: get-rem-desktop(80);

    @media only screen and (max-width: 768px) {
      padding: get-rem-mobile(24);
    }
  }

  .booking-overlay__content {
    width: 100%;
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(80);
    flex: 1;
    min-height: 0;
  }

  .booking-overlay__tab-content {
    flex: 1;
    min-height: 0;
    @include flex;
    @include flex-direction(column);
  }

  .booking-overlay__tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: get-rem-desktop(4);
  }

  .booking-overlay__tab {
    @include reset-input;
    background-color: $colour-white;
    color: $colour-black;
    border: 1px solid $colour-beige;
    padding: 0;
    cursor: pointer;
    @include flex;
    @include align-items(center);
    @include justify-content(space-between);
    column-gap: get-rem-desktop(16);
    will-change: background-color;
    @include transition(background-color 300ms cubic-bezier(0.25,0.1,0.25,1));
    overflow: hidden;
    padding: get-rem-desktop(12);
    padding-right: get-rem-desktop(16);

    &.active {
      background-color: $colour-beige;
    }

    @media (hover: hover) {
      &:hover:not(.active) {
        background-color: rgba($colour-beige, 0.5);
      }
    }
  }

  .booking-overlay__tab-image {
    width: 100%;
    aspect-ratio: 183 / 100;
    overflow: hidden;
    position: relative;
    max-width: get-rem-desktop(183);
  }

  .booking-overlay__tab-label {
    text-align: center;
    width: 100%;
  }

  .booking-overlay__form {
    width: 100%;
    flex: 1;
    min-height: 0;
    @include flex;
    @include flex-direction(column);

    .chronogolf-iframe {
      width: 100%;
      height: 100%;
      border: none;
      display: block;
      flex: 1;
      min-height: 0;
    }
  }
}