@use '00_mixins' as *;

// // Cookie Consent Overrides
.cc-revoke {
  display: none !important;
}

// Mobile-only black background overlay when cookie window is visible
@media only screen and (max-width: 768px) {
  body.cc-window-visible {
    position: relative;
    
    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($colour-black, 0.6);
      z-index: 9998; // Just below the cookie window (which is typically 9999)
      pointer-events: none;
      opacity: 1;
      @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));
    }
  }

  // Fade out overlay when cookie window is fading out
  body.cc-window-fading::before {
    opacity: 0;
  }
}

.cc-window {
  width: get-rem-desktop(200) !important;
  left: get-rem-desktop(24) !important;
  bottom: get-rem-desktop(24) !important;
  font-family: 'ABC Arizona Flare' !important;
  font-weight: 100 !important;
  box-sizing: border-box !important;
  font-size: 16px !important;
  line-height: calc(24 / 16) + em !important;
  background-color: $colour-black !important;
  display: flex !important;
  flex-direction: column !important;
  row-gap: get-rem-desktop(20) !important;
  padding: get-rem-desktop(10) get-rem-desktop(16) get-rem-desktop(18) !important;
  color: $colour-cream !important;
  transition: opacity 500ms cubic-bezier(0.25,0.1,0.25,1) !important;

  @media only screen and (max-width: 768px) {
    width: calc(100% - 2 * get-rem-mobile(11)) !important;
    left: get-rem-mobile(11) !important;
    bottom: get-rem-mobile(11) !important;
    text-align: center;
  }

  .cc-message {
    flex: unset;

    a.cc-link {
      display: none !important;
    }
  }

  .cc-compliance {
    display: flex !important;
    flex-direction: column !important;
    row-gap: get-rem-desktop(10) !important;
    width: 100% !important;
  }

  .cc-btn {
    width: 100% !important;
    padding: get-rem-desktop(3) 0 0 !important;
    margin: 0 !important;
    will-change: background-color, border-color, color;
    @include transition-multiple(background-color 500ms cubic-bezier(0.25,0.1,0.25,1), border-color 500ms cubic-bezier(0.25,0.1,0.25,1), color 500ms cubic-bezier(0.25,0.1,0.25,1));
    height: get-rem-desktop(26) !important;

    @media (hover: hover) {
      &:hover {
        opacity: 1 !important;
      }
    }

    &.cc-allow {
      background-color: $colour-orange !important;
      color: $colour-cream !important;

      @media (hover: hover) {
        &:hover {
          background-color: $colour-orange-hover !important;
        }
      }
    }

    &.cc-deny {
      background-color: $colour-cream !important;
      color: $colour-black !important;

      @media (hover: hover) {
        &:hover {
          background-color: $colour-tan !important;
        }
      }
    }
  }

  .cookies-link {
    text-decoration: underline !important;
    margin-top: get-rem-desktop(5) !important;
  }

  // Disable pointer events when not visible
  &.cc-fade-out,
  &.cc-invisible {
    pointer-events: none !important;
  }
}

// Disable pointer events when cookie window is fading or not visible
// (when body doesn't have cc-window-visible class)
body:not(.cc-window-visible) .cc-window {
  pointer-events: none !important;
}