@use '00_mixins' as *;

// // Cookie Consent Overrides
.cc-revoke {
  display: none !important;
}

.cc-window {
  width: get-rem-desktop(200) !important;
  left: get-rem-desktop(24) !important;
  bottom: get-rem-desktop(24) !important;
  font-family: 'ABC Arizona Flare' !important;
  font-weight: 100 !important;
  box-sizing: border-box !important;
  font-size: 16px !important;
  line-height: calc(24 / 16) + em !important;
  background-color: $colour-black !important;
  display: flex !important;
  flex-direction: column !important;
  row-gap: get-rem-desktop(20) !important;
  padding: get-rem-desktop(10) get-rem-desktop(16) get-rem-desktop(18) !important;
  color: $colour-cream !important;

  @media only screen and (max-width: 768px) {
    left: get-rem-mobile(11) !important;
    bottom: get-rem-mobile(11) !important;
  }

  .cc-message {
    flex: unset;

    a.cc-link {
      display: none !important;
    }
  }

  .cc-compliance {
    display: flex !important;
    flex-direction: column !important;
    row-gap: get-rem-desktop(10) !important;
    width: 100% !important;
  }

  .cc-btn {
    width: 100% !important;
    padding: get-rem-desktop(3) 0 0 !important;
    margin: 0 !important;
    will-change: background-color, border-color, color;
    @include transition-multiple(background-color 500ms cubic-bezier(0.25,0.1,0.25,1), border-color 500ms cubic-bezier(0.25,0.1,0.25,1), color 500ms cubic-bezier(0.25,0.1,0.25,1));
    height: get-rem-desktop(26) !important;

    @media (hover: hover) {
      &:hover {
        opacity: 1 !important;
      }
    }

    &.cc-allow {
      background-color: $colour-orange !important;
      color: $colour-cream !important;

      @media (hover: hover) {
        &:hover {
          background-color: $colour-orange-hover !important;
        }
      }
    }

    &.cc-deny {
      background-color: $colour-cream !important;
      color: $colour-black !important;

      @media (hover: hover) {
        &:hover {
          background-color: $colour-tan !important;
        }
      }
    }
  }

  .cookies-link {
    text-decoration: underline !important;
    margin-top: get-rem-desktop(5) !important;
  }
}