@use '00_mixins' as *;

.site-footer {
  background-color: $colour-orange;
  color: $colour-black;
  padding-top: get-rem-desktop(200);
  padding-bottom: get-rem-desktop(80);
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(90);

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(140);
    padding-bottom: get-rem-mobile(16);
    row-gap: get-rem-mobile(70);
  }

  .top {
    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(35);
    }
  }

  svg {
    width: get-rem-desktop(244);
    fill: $colour-black;
    margin-bottom: get-rem-desktop(38);
  }

  .site-footer__heading {
    margin-top: -0.25em;
    margin-bottom: get-rem-desktop(5);

    @media only screen and (max-width: 768px) {
      margin-top: 0;
    }
  }

  .site-footer__contact {
    a {
      @include underline;
    }
  }

  .site-footer__links,
  .site-footer__contact {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(5);
  }

  .site-footer__links,
  .site-footer__credit {
    a {
      text-decoration: none;
    }
  }

  .bottom {
    @include align-items(flex-end);
  }

  .site-footer__newsletter-heading {
    margin-bottom: get-rem-desktop(20);
  }

  .site-footer__newsletter-form {
    @include flex;
    column-gap: $gutter_lg;

    input {
      @include reset-input;
      // 4 columns + 3 gutters: (4 * container_width - gutter) / 6
      width: calc((4 * 100% - #{$gutter_lg}) / 6);
      border-bottom: 1px solid $colour-black;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }

    button {
      // 1 column + 4 gutters: (1 * container_width - gutter) / 6
      width: calc((100% - 4 * #{$gutter_lg}) / 6);
      min-width: get-rem-desktop(115.66);

      @media only screen and (max-width: 768px) {
        width: get-rem-mobile(110);
        min-width: get-rem-mobile(110);
      }
    }
  }

  .site-footer__copyright {
    @media only screen and (max-width: 768px) {
      margin-top: get-rem-mobile(80);
    }
  }

  .site-footer__credit {
    text-align: right;
    position: relative;
    display: block;

    @media only screen and (max-width: 768px) {
      text-align: left;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }

    .credit-toggle {
      cursor: pointer;
      @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

      @media (hover: hover) {
        &:hover {
          opacity: 0;
        }
      }

      @media only screen and (max-width: 768px) {
        display: none;
      }
    }

    .credit-toggle:hover + .credit-content {
      opacity: 1;
    }

    .credit-content {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      z-index: 1;
      pointer-events: none;
      white-space: nowrap;
      @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

      @media only screen and (max-width: 768px) {
        position: static;
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}