@use '00_mixins' as *;

.site-footer {
  background-color: $colour-orange;
  color: $colour-black;
  padding-top: get-rem-desktop(200);
  padding-bottom: get-rem-desktop(80);
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(90);

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(140);
    padding-bottom: get-rem-mobile(16);
    row-gap: get-rem-mobile(70);
  }

  .top {
    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(35);
    }
  }

  svg {
    width: get-rem-desktop(244);
    fill: $colour-black;
    margin-bottom: get-rem-desktop(38);
  }

  .site-footer__heading {
    margin-top: -0.25em;
    margin-bottom: get-rem-desktop(5);

    @media only screen and (max-width: 768px) {
      margin-top: 0;
    }
  }

  .site-footer__contact {
    a {
      @include underline;
    }
  }

  .site-footer__links,
  .site-footer__contact {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(5);
  }

  .site-footer__links,
  .site-footer__credit {
    a {
      text-decoration: none;
    }
  }

  .site-footer__credit {
    text-align: right;

    @media only screen and (max-width: 768px) {
      text-align: left;
    }
  }
}