@use '00_mixins' as *;

.site-footer {
  background-color: $colour-orange;
  color: $colour-black;
  padding-top: get-rem-desktop(200);
  padding-bottom: get-rem-desktop(80);
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(90);

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(140);
    padding-bottom: get-rem-mobile(16);
    row-gap: get-rem-mobile(70);
  }

  .top {
    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(35);
    }
  }

  svg {
    width: get-rem-desktop(244);
    fill: $colour-black;
    margin-bottom: get-rem-desktop(38);
  }

  .site-footer__heading {
    margin-top: -0.25em;
    margin-bottom: get-rem-desktop(5);

    @media only screen and (max-width: 768px) {
      margin-top: 0;
    }
  }

  .site-footer__contact {
    a {
      @include underline;
    }
  }

  .site-footer__links,
  .site-footer__contact {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(5);
  }

  .site-footer__links,
  .site-footer__credit {
    a {
      text-decoration: none;
    }
  }

  .site-footer__credit {
    text-align: right;
    position: relative;
    display: block;

    @media only screen and (max-width: 768px) {
      text-align: left;
    }

    &:hover {
      opacity: 1;
    }

    .credit-toggle {
      cursor: pointer;
      @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

      &:hover {
        opacity: 0;
      }
    }

    .credit-toggle:hover + .credit-content {
      opacity: 1;
    }

    .credit-content {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      z-index: 1;
      pointer-events: none;
      white-space: nowrap;
      @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));
    }
  }
}