@use '00_mixins' as *;

.site-footer {
  background-color: $colour-orange;
  color: $colour-black;
  padding-top: get-rem-desktop(80);
  padding-bottom: get-rem-desktop(80);
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(70);

  @media only screen and (max-width: 820px) {
    padding-top: get-rem-mobile(48);
    padding-bottom: get-rem-mobile(24);
  }

  .top {
    @media only screen and (max-width: 820px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(48);
    }
  }

  svg {
    width: 100%;
    max-width: get-rem-desktop(244);
    fill: $colour-black;
    margin-bottom: get-rem-desktop(38);

    @media only screen and (max-width: 820px) {
      margin-bottom: 0;
    }
  }

  .site-footer__heading {
    margin-top: -0.25em;
    margin-bottom: get-rem-desktop(5);

    @media only screen and (max-width: 820px) {
      margin-top: 0;
    }
  }

  .site-footer__contact {
    a {
      @include underline;
    }
  }

  .site-footer__links,
  .site-footer__contact {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(5);
  }

  .site-footer__links,
  .site-footer__credit {
    a {
      text-decoration: none;
    }
  }

  .bottom {
    @include align-items(flex-end);
  }

  .right-column {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    column-gap: get-rem-desktop(48);

    @media only screen and (max-width: 1498px) {
      @include align-items(flex-end);
    }

    @media only screen and (max-width: 820px) {
      @include flex-direction(column);
      @include align-items(flex-start);
    }
  }

  .michelin-logo-wrap {
    @media only screen and (max-width: 1498px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-desktop(15);
    }

    @media only screen and (max-width: 820px) {
      margin-top: get-rem-mobile(80);
      row-gap: get-rem-mobile(72);
    }
    
    img {
      width: get-rem-desktop(184);
    }

    .site-footer__copyright {
      display: none;

      @media only screen and (max-width: 1498px) {
        display: block;
      }
    }
  }

  .copyright-wrap {
    @media only screen and (max-width: 1498px) {
      display: none;
    }
  }

  .site-footer__newsletter-heading {
    margin-bottom: get-rem-desktop(20);
  }

  .site-footer__newsletter-form-container {
    position: relative;
    min-height: 40.5px;
  }

  .site-footer__newsletter-success {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    left: 0;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
    pointer-events: none;

    &.fade-in {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .form-wrap {
    @include flex;
    column-gap: $gutter_lg;
    transition: opacity 500ms cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 1;

    &.fade-out {
      opacity: 0;
      pointer-events: none;
    }
  }

  input[type="email"] {
    @include reset-input;
    // 4 columns + 3 gutters: (4 * container_width - gutter) / 6
    width: calc((4 * 100% - #{$gutter_lg}) / 6);
    border-bottom: 1px solid $colour-black;

    &.mce_inline_error {
      border: none !important;
      border-bottom: 1px solid $colour-black !important;
    }

    @media only screen and (max-width: 820px) {
      width: 100%;
    }

    &::placeholder {
      color: rgba($colour-black, 0.5);
    }
  }

  button[type="submit"] {
    // 1 column + 4 gutters: (1 * container_width - gutter) / 6
    width: calc((100% - 4 * #{$gutter_lg}) / 6);
    min-width: get-rem-desktop(115.66);
    background-color: transparent;
    border: 1px solid $colour-black;
    border-radius: 0;
    color: $colour-black;
    height: unset;
    margin: 0;
    padding: get-rem-desktop(10.5) get-rem-desktop(16) !important;
    will-change: background-color, border-color, color;
    transition: background-color 500ms cubic-bezier(0.25,0.1,0.25,1), border-color 500ms cubic-bezier(0.25,0.1,0.25,1), color 500ms cubic-bezier(0.25,0.1,0.25,1) !important;
    @include font-size(14px, 14px);
    line-height: normal;
    cursor: pointer;

    @media (hover: hover) {
      &:hover {
        border-color: $colour-cream !important;
        background-color: $colour-cream !important;
        color: $colour-black !important;
      }
    }

    @media only screen and (max-width: 820px) {
      width: get-rem-mobile(110);
      min-width: get-rem-mobile(110);
    }
  }

  .site-footer__credit {
    text-align: right;
    position: relative;
    display: block;

    @media only screen and (max-width: 820px) {
      text-align: left;
    }

    @media (hover: hover) {
      &:hover {
        opacity: 1;
      }
    }

    .credit-toggle {
      cursor: pointer;
      @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

      @media (hover: hover) {
        &:hover {
          opacity: 0;
        }
      }

      @media only screen and (max-width: 820px) {
        position: relative;
        opacity: 1;
        z-index: 2;
      }
    }

    .credit-toggle:hover + .credit-content {
      opacity: 1;
    }

    .credit-content {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      z-index: 1;
      pointer-events: none;
      white-space: nowrap;
      @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

      @media only screen and (max-width: 820px) {
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        opacity: 0;
        pointer-events: none;
        z-index: 1;
      }
    }

    &.credit-expanded {
      @media only screen and (max-width: 820px) {
        .credit-toggle {
          opacity: 0;
          pointer-events: none;
        }

        .credit-content {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
}