@use '00_mixins' as *;

/*
SITE HEADER BASE ------------------
*/
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: $colour-cream;
  will-change: background-color, color;
  @include transition-multiple(background-color 500ms cubic-bezier(0.25,0.1,0.25,1), color 500ms cubic-bezier(0.25,0.1,0.25,1));

  .link-icon {
    position: relative;
    
    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}

/*
DESKTOP HEADER ------------------
*/

.site-header-desktop {
  @extend .site-header;

  @media only screen and (max-width: 1240px) {
    display: none;
  }

  .logo-wrap {
    margin-top: get-rem-desktop(16.5);
    margin-bottom: get-rem-desktop(16.5);
    height: get-rem-desktop(31);
    position: relative;

    .logo-text,
    .logo-icon {
      width: fit-content;
      margin: 0 auto;
      will-change: opacity;
      @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

      svg {
        height: get-rem-desktop(31);
        fill: $colour-cream;
        will-change: fill;
        @include transition(fill 500ms cubic-bezier(0.25,0.1,0.25,1));
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    .logo-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
    }
  }

  .nav-wrap {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    border-top: 1px solid $colour-cream;
    border-bottom: 1px solid $colour-cream;
    height: get-rem-desktop(42);
    will-change: border-color;
    @include transition(border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

    .left {
      @include flex;
      @include align-items(center);
      column-gap: get-rem-desktop(20);
      padding: 0 get-rem-desktop(24);
      border-right: 1px solid $colour-cream;
      height: 100%;
      will-change: border-color;
      @include transition(border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

      svg {
        stroke: $colour-cream;
        fill: none;
        will-change: stroke;
        @include transition(stroke 500ms cubic-bezier(0.25,0.1,0.25,1));
      }

      .search-icon {
        svg {
          width: get-rem-desktop(18);
          height: get-rem-desktop(18);
        }
      }

      .cart-icon,
      .account-icon {
        svg {
          width: get-rem-desktop(16);
          height: get-rem-desktop(18);
        }
      }
    }

    .nav {
      @include flex;
      @include justify-content(center);
      column-gap: get-rem-desktop(48);

      a {
        will-change: opacity;
        @include transition(opacity 300ms cubic-bezier(0.25,0.1,0.25,1));
      }

      @media (hover: hover) {
        &:hover a {
          opacity: 0.5;
        }

        a:hover {
          opacity: 1;
        }
      }
    }

    .right {
      border-left: 1px solid $colour-cream;
      color: $colour-cream;
      background-color: $colour-orange;
      width: get-rem-desktop(120);
      padding: 0 get-rem-desktop(24);
      height: 100%;
      @include flex;
      @include align-items(center);
      @include justify-content(center);
      cursor: pointer;
      will-change: background-color, border-color;
      @include transition-multiple(background-color 500ms cubic-bezier(0.25,0.1,0.25,1),border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

      @media (hover: hover) {
        &:hover {
          background-color: $colour-orange-hover;
        }
      }
    }
  }
}

.site-header-desktop.scrolled,
.site-header-desktop.booking-overlay-open {
  background-color: $colour-cream;
  color: $colour-black;

  .logo-text,
  .logo-icon {
    svg {
      fill: $colour-black;
    }
  }

  .logo-text {
    opacity: 0;
    pointer-events: none;
  }

  .logo-icon {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-wrap {
    border-color: $colour-beige;

    .left {
      border-color: $colour-beige;

      svg {
        stroke: $colour-black;
      }
    }

    .right {
      border-color: $colour-beige;
    }
  }
}

.page-type-text,
.page-type-search,
.page-type-search-results,
.page-type-404,
.page-type-product {
  .site-header-desktop {
    color: $colour-black;

    .logo-text,
    .logo-icon {
      svg {
        fill: $colour-black;
      }
    }

    .nav-wrap {
      .left {
        svg {
          stroke: $colour-black;
        }
      }
    }
  }
}

/*
TABLET HEADER ------------------
*/

.site-header-tablet {
  display: none;
  @extend .site-header;

  @media only screen and (max-width: 1240px) {
    display: block;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }

  .top-row {
    @include flex;
    @include justify-content(space-between);
    height: get-rem-desktop(64);

    .left {
      @include flex;
      @include align-items(center);
      column-gap: get-rem-desktop(20);
      padding: 0 get-rem-desktop(24);
      border-right: 1px solid $colour-cream;
      height: 100%;
      will-change: border-color;
      @include transition(border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

      svg {
        stroke: $colour-cream;
        fill: none;
        will-change: stroke;
        @include transition(stroke 500ms cubic-bezier(0.25,0.1,0.25,1));
      }

      .search-icon {
        svg {
          width: get-rem-desktop(18);
          height: get-rem-desktop(18);
        }
      }

      .cart-icon,
      .account-icon {
        svg {
          width: get-rem-desktop(16);
          height: get-rem-desktop(18);
        }
      }
    }

    .right {
      border-left: 1px solid $colour-cream;
      color: $colour-cream;
      background-color: $colour-orange;
      width: get-rem-desktop(120);
      padding: 0 get-rem-desktop(24);
      height: 100%;
      @include flex;
      @include align-items(center);
      @include justify-content(center);
      cursor: pointer;
      will-change: background-color, border-color;
      @include transition-multiple(background-color 500ms cubic-bezier(0.25,0.1,0.25,1),border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

      @media (hover: hover) {
        &:hover {
          background-color: $colour-orange-hover;
        }
      }
    }
  }

  .logo-wrap {
    margin-top: get-rem-desktop(16.5);
    margin-bottom: get-rem-desktop(16.5);
    height: get-rem-desktop(31);
    position: relative;

    .logo-text,
    .logo-icon {
      width: fit-content;
      margin: 0 auto;
      will-change: opacity;
      @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

      svg {
        height: get-rem-desktop(31);
        fill: $colour-cream;
        will-change: fill;
        @include transition(fill 500ms cubic-bezier(0.25,0.1,0.25,1));
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    .logo-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
    }
  }

  .nav-wrap {
    @include flex;
    @include justify-content(center);
    @include align-items(center);
    border-top: 1px solid $colour-cream;
    border-bottom: 1px solid $colour-cream;
    height: get-rem-desktop(42);
    will-change: border-color;
    @include transition(border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

    .nav {
      @include flex;
      @include justify-content(center);
      column-gap: get-rem-desktop(32);

      a {
        will-change: opacity;
        @include transition(opacity 300ms cubic-bezier(0.25,0.1,0.25,1));
      }

      @media (hover: hover) {
        &:hover a {
          opacity: 0.5;
        }

        a:hover {
          opacity: 1;
        }
      }
    }
  }
}

.site-header-tablet.scrolled,
.site-header-tablet.booking-overlay-open {
  background-color: $colour-cream;
  color: $colour-black;

  .top-row {
    .left {
      border-color: $colour-beige;

      svg {
        stroke: $colour-black;
      }
    }

    .right {
      border-color: $colour-beige;
    }
  }

  .logo-text,
  .logo-icon {
    svg {
      fill: $colour-black;
    }
  }

  .logo-text {
    opacity: 0;
    pointer-events: none;
  }

  .logo-icon {
    opacity: 1;
    pointer-events: auto;
  }

  .nav-wrap {
    border-color: $colour-beige;
  }
}

.page-type-text,
.page-type-search,
.page-type-search-results,
.page-type-404,
.page-type-product {
  .site-header-tablet {
    color: $colour-black;

    .logo-text,
    .logo-icon {
      svg {
        fill: $colour-black;
      }
    }

    .left {
      svg {
        stroke: $colour-black;
      }
    }
  }
}

/*
MOBILE HEADER ------------------
*/

.site-header-mobile {
  display: none;
  border-bottom: 1px solid $colour-cream;
  @extend .site-header;
  @include transition-multiple(background-color 500ms cubic-bezier(0.25,0.1,0.25,1), border-color 500ms cubic-bezier(0.25,0.1,0.25,1), color 500ms cubic-bezier(0.25,0.1,0.25,1));

  @media only screen and (max-width: 768px) {
    @include flex;
    @include justify-content(space-between);
    height: get-rem-mobile(63);
  }

  .logo-wrap {
    margin-top: get-rem-mobile(16);
    margin-bottom: get-rem-mobile(16);
    height: get-rem-mobile(31);
    position: relative;

    .logo-text,
    .logo-icon {
      width: fit-content;
      margin: 0 auto;
      will-change: opacity;
      @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

      svg {
        height: get-rem-mobile(31);
        fill: $colour-cream;
        will-change: fill;
        @include transition(fill 500ms cubic-bezier(0.25,0.1,0.25,1));
      }

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
    }

    .logo-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
    }
  }

  .left,
  .right {
    width: get-rem-mobile(85);
    height: 100%;
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    cursor: pointer;
    will-change: background-color, border-color;
    @include transition-multiple(background-color 500ms cubic-bezier(0.25,0.1,0.25,1), border-color 500ms cubic-bezier(0.25,0.1,0.25,1));
  }

  .left {
    border-right: 1px solid $colour-cream;
    position: relative;

    .close {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      color: $colour-cream;
    }
  }

  .right {
    border-left: 1px solid $colour-cream;
    color: $colour-cream;
    background-color: $colour-orange;
  }
}

.site-header-mobile.scrolled,
.site-header-mobile.booking-overlay-open {
  background-color: $colour-cream;
  color: $colour-black;
  border-color: $colour-beige;

  .logo-text,
  .logo-icon {
    svg {
      fill: $colour-black;
    }
  }

  .logo-text {
    opacity: 0;
    pointer-events: none;
  }

  .logo-icon {
    opacity: 1;
    pointer-events: auto;
  }

  .left,
  .right {
    border-color: $colour-beige;
  }
}

.site-header-mobile.menu-overlay-visible {
  background-color: transparent;
  color: $colour-cream;

  .logo-text,
  .logo-icon {
    svg {
      fill: $colour-cream !important;
    }
  }

  .left,
  .right {
    border-color: $colour-cream;
  }
}

.page-type-text,
.page-type-search,
.page-type-search-results,
.page-type-404,
.page-type-product {
  .site-header-mobile {
    color: $colour-black;

    .logo-text,
    .logo-icon {
      svg {
        fill: $colour-black;
      }
    }

    .left {
      svg {
        stroke: $colour-black;
      }
    }
  }
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: $colour-black;
  color: $colour-cream;
  opacity: 0;
  pointer-events: none;

  .inner-wrap {
    height: 100%;
    @include flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    row-gap: get-rem-mobile(155);
    opacity: 0;
    pointer-events: none;
  }

  .nav {
    @include flex;
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    row-gap: get-rem-mobile(12);

    a {
      will-change: opacity;
      @include transition(opacity 300ms cubic-bezier(0.25,0.1,0.25,1));
    }

    @media (hover: hover) {
      &:hover a {
        opacity: 0.5;
      }

      a:hover {
        opacity: 1;
      }
    }
  }

  .icon-wrapper {
    @include flex;
    @include justify-content(center);
    @include align-items(center);
    column-gap: get-rem-mobile(26);

    svg {
      stroke: $colour-cream;
      fill: none;
    }

    .search-icon {
      svg {
        width: get-rem-mobile(25);
        height: get-rem-mobile(25);
      }
    }

    .cart-icon,
    .account-icon {
      svg {
        width: get-rem-mobile(21);
        height: get-rem-mobile(23);
      }
    }
  }
}

.cart-icon {
  position: relative;

  &__badge {
    position: absolute;
    top: get-rem-desktop(-6);
    right: get-rem-desktop(-6);
    background-color: $colour-orange;
    color: $colour-cream;
    border-radius: 50%;
    width: get-rem-desktop(14);
    height: get-rem-desktop(14);
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    font-size: get-rem-desktop(10);
    font-weight: 600;
    line-height: 1;
  }
}

.nav.nav-current-active {
  a:not(.current-page) {
    opacity: 0.5;
  }

  a.current-page {
    opacity: 1;
  }

  @media (hover: hover) {
    &:hover a:not(.current-page):not(:hover) {
      opacity: 0.5;
    }

    &:hover a.current-page,
    a:not(.current-page):hover {
      opacity: 1;
    }
  }
}