@use '00_mixins' as *;

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: $colour-cream;

  .logo {
    width: fit-content;
    margin: 0 auto;
    margin-top: get-rem-desktop(16.5);
    margin-bottom: get-rem-desktop(16.5);

    svg {
      width: get-rem-desktop(102);
      fill: $colour-cream;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }

  .nav-wrap {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    border-top: 1px solid $colour-cream;
    border-bottom: 1px solid $colour-cream;
    height: get-rem-desktop(42);

    .left {
      @include flex;
      @include align-items(center);
      column-gap: get-rem-desktop(20);
      padding: 0 get-rem-desktop(24);
      border-right: 1px solid $colour-cream;
      height: 100%;

      svg {
        stroke: $colour-cream;
        fill: none;
      }

      .search-icon {
        svg {
          width: get-rem-desktop(18);
          height: get-rem-desktop(18);
        }
      }

      .cart-icon,
      .account-icon {
        svg {
          width: get-rem-desktop(16);
          height: get-rem-desktop(18);
        }
      }
    }

    .nav {
      @include flex;
      @include justify-content(center);
      column-gap: get-rem-desktop(48);
    }

    .right {
      border-left: 1px solid $colour-cream;
      background-color: $colour-orange;
      width: get-rem-desktop(120);
      padding: 0 get-rem-desktop(24);
      height: 100%;
      @include flex;
      @include align-items(center);
      @include justify-content(center);
      will-change: background-color;
      @include transition(background-color 400ms cubic-bezier(0.25,0.1,0.25,1));
      cursor: pointer;

      &:hover {
        background-color: $colour-orange-hover;
      }
    }
  }
}