@use '00_mixins' as *;

.out-of-view {
  opacity: 0;
  @include transform(translateY(4vh));
  @include transition-transform-additional(1500ms cubic-bezier(0.19, 1, 0.22, 1) 400ms, opacity 1500ms cubic-bezier(0.25,0.1,0.25,1) 400ms);
  
  &.am-in-view {
    opacity: 1;
    @include transform(translateY(0));
  }
}

.out-of-opacity {
  opacity: 0;
  @include transition(opacity 1500ms cubic-bezier(0.25,0.1,0.25,1) 400ms);
  
  &.am-in-view {
    opacity: 1;
  }

  &.stage-1 {
    @include transition(opacity 1500ms cubic-bezier(0.25,0.1,0.25,1) 400ms);
  }

  &.stage-2 {
    @include transition(opacity 1500ms cubic-bezier(0.25,0.1,0.25,1) 600ms);
  }

  &.stage-2 {
    @include transition(opacity 1500ms cubic-bezier(0.25,0.1,0.25,1) 800ms);
  }
}

.scale-container {
  overflow: hidden;

  .scale-element {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}