@use '00_mixins' as *;
@use '00_base' as *;

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0px;
  font-weight: normal;
}

h1 {
  font-family: 'ABC Arizona Flare';
  font-weight: 100;
  @include font-size(48px, 80px);
  line-height: calc(90 / 80) + em;

  @media only screen and (max-width: 768px) {
    line-height: calc(56 / 48) + em;
  }
}

h2 {
  font-family: 'ABC Arizona Flare';
  font-weight: 100;
  @include font-size(44px, 64px);
  line-height: calc(72 / 64) + em;

  @media only screen and (max-width: 768px) {
    line-height: calc(52 / 44) + em;
  }
}

h3 {
  font-family: 'ABC Arizona Flare';
  font-weight: 100;
  @include font-size(36px, 48px);
  line-height: calc(56 / 48) + em;

  @media only screen and (max-width: 768px) {
    line-height: calc(44 / 36) + em;
  }
}

h4 {
  font-family: 'ABC Arizona Flare';
  font-weight: 300;
  @include font-size(30px, 36px);
  line-height: calc(44 / 36) + em;

  @media only screen and (max-width: 768px) {
    line-height: calc(48 / 30) + em;
  }
}

h5 {
  font-family: 'ABC Arizona Flare';
  font-weight: 300;
  @include font-size(24px, 28px);
  line-height: calc(36 / 28) + em;

  @media only screen and (max-width: 768px) {
    line-height: calc(32 / 24) + em;
  }
}

h6 {
  font-family: 'ABC Arizona Flare';
  font-weight: 300;
  @include font-size(16px, 20px);
  line-height: calc(28 / 20) + em;
  text-transform: uppercase;
  letter-spacing: 0.08em;

  @media only screen and (max-width: 768px) {
    line-height: calc(24 / 16) + em;
  }
}

.button,
.site-header .left,
.site-header .right,
.site-header-desktop .nav,
.menu-tab {
  font-family: 'ABC Arizona Flare';
  font-weight: 300 !important;
  font-size: 14px !important;
  line-height: normal !important;
  text-transform: uppercase;
}

.menu-overlay .nav {
  font-family: 'ABC Arizona Flare';
  font-weight: 100;
  font-size: 24px;
  line-height: normal;
  text-transform: uppercase;
}

.body-big {
  font-family: 'ABC Arizona Flare';
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
}

.body-medium {
  font-family: 'ABC Arizona Flare';
  font-weight: 100;
  font-size: 20px;
  line-height: normal;
}

.body-small {
  font-family: 'ABC Arizona Flare';
  font-weight: 300;
  font-size: 14px;
  line-height: calc(20 / 14) + em;
}