@use '00_mixins' as *;
@use '00_base' as *;

// UTILITY CLASSES ------------------

.h-pad {
  padding-left: get-rem-desktop(80);
  padding-right: get-rem-desktop(80);

  @media only screen and (max-width: 768px) {
    padding-left: get-rem-mobile(24);
    padding-right: get-rem-mobile(24);
  }
}

.button-wrap {
  .button {
    width: 100%;
  }

  &--multiple-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: get-rem-desktop(12);

    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(12);
    }
  }

  &--overlay-media {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: get-rem-desktop(12);
    z-index: 10;
    width: 100%;
    opacity: 0;
    will-change: opacity;
    @include transition (opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

    @media only screen and (max-width: 768px) {
      opacity: 1;
    }
  }
}

.media-wrap {
  @media (hover: hover) {
    &:hover {
      .button-wrap--overlay-media {
        opacity: 1;
      }
    }
  }
}

.button {
  display: inline-block;
  padding: get-rem-desktop(10.5) get-rem-desktop(16);
  min-width: get-rem-desktop(144);
  will-change: background-color, border-color, color;
  @include transition-multiple(background-color 500ms cubic-bezier(0.25,0.1,0.25,1), border-color 500ms cubic-bezier(0.25,0.1,0.25,1), color 500ms cubic-bezier(0.25,0.1,0.25,1));
  text-align: center;

  // @media only screen and (max-width: 768px) {
  //   min-width: unset;
  //   width: 100%;
  // }

  &--orange {
    background-color: $colour-orange;
    color: $colour-cream;

    @media (hover: hover) {
      &:hover {
        background-color: $colour-orange-hover;
      }
    }
  }

  &--cream {
    background-color: $colour-cream;
    color: $colour-black;

    @media (hover: hover) {
      &:hover {
        background-color: $colour-tan;
      }
    }
  }

  &--outline {
    border: 1px solid $colour-black;
    color: $colour-black;
    background-color: transparent;

    @media (hover: hover) {
      &:hover {
        border-color: $colour-cream;
        background-color: $colour-cream;
        color: $colour-black;
      }
    }
  }
}

.mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .desktop,
  .dummy-col {
    display: none;
  }

  .mobile {
    display: block;
  }
}

// FIXED HERO STYLES ------------------

@media only screen and (min-width: 769px) {
  .hero-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }

  section {
    background-color: $colour-beige;
  }

  .flexible-content {
    margin-top: 100svh;
  }

  .links-section,
  .activity-filter {
    margin-top: 100svh;
    background-color: $colour-beige;
  }
}

// HERO SECTION ------------------

.hero-section {
  height: 100svh;

  .hero-content {
    color: $colour-cream;
    text-align: center;
  }
}

.hero-section.layout-1 {
  .hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;

    .hero-body {
      max-width: get-rem-desktop(500);
      margin: 0 auto;
      margin-top: get-rem-desktop(20);
    }
  }

  .hero-arrow {
    z-index: 1;
    position: absolute;
    bottom: get-rem-desktop(64);
    left: 50%;
    transform: translateX(-50%);
    width: get-rem-desktop(36);
    height: get-rem-desktop(36);
    cursor: pointer;

    svg {
      stroke: $colour-cream;
      fill: none;
    }
  }
}

.hero-section.layout-2 {
  background-color: $colour-black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: get-rem-desktop(100);
  padding-top: get-rem-desktop(133);
  padding-bottom: get-rem-desktop(24);

  @media only screen and (max-width: 768px) {
    height: unset;
    min-height: 100svh;
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-mobile(48);
    padding-top: get-rem-mobile(116);
    padding-bottom: get-rem-mobile(24);

    .hero-image {
      aspect-ratio: 3 / 4;
    }
  }

  .hero-content {
    @include flex;
    @include flex-direction(column);
    @include justify-content(space-between);

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(75);
    }

    .row-1 {
      height: 100%;
      @include flex;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      row-gap: get-rem-desktop(25);

      .hero-body {
        max-width: get-rem-desktop(500);
        margin: 0 auto;
      }
    }

    .row-2 {
      @include flex;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      row-gap: get-rem-desktop(24);

      .hero-specs {
        @include flex;
        @include justify-content(center);
        column-gap: get-rem-desktop(36);
      }
  
      .button {
        @media only screen and (min-width: 769px) {
          min-width: get-rem-desktop(376);
        }

        @media only screen and (max-width: 768px) {
          width: 100%;
        }

        &--outline {
          border-color: $colour-cream;
          color: $colour-cream;
  
          @media (hover: hover) {
            &:hover {
              color: $colour-black;
            }
          }
        }
      }
    }
  }
}

// TEXT SECTION ------------------

.text-section {
  padding-top: get-rem-desktop(100);
  padding-bottom: get-rem-desktop(100);

  .text-wrap {
    max-width: get-rem-desktop(376);
    margin: 0 auto;
    text-align: center;

    .text-heading {
      margin-bottom: get-rem-desktop(14);
    }

    .button {
      width: 100%;
      margin-top: get-rem-desktop(24);
    }
  }
}

// IMAGE MEDIA SECTION ------------------

.media-text-section {
  padding-top: get-rem-desktop(200);
  padding-bottom: get-rem-desktop(200);

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(140);
    padding-bottom: get-rem-mobile(140);
  }

  &.align-left,
  .align-left {
    .col-1 {
      order: 3;
    }

    .col-2 {
      order: 2;
    }

    .col-3 {
      order: 1;
    }

    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(35);
    }
  }

  &.align-right,
  .align-right {
    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(35);
    }
  }

  .media-text-room-type {
    @include flex;
    column-gap: get-rem-desktop(8);
    margin-bottom: get-rem-desktop(24);
    text-transform: capitalize;

    svg {
      width: get-rem-desktop(24);
      stroke: $colour-orange;
      fill: none;
    }
  }

  .media-text-bullet-list {
    .media-text-bullet-list-item {
      @include flex;
      @include align-items(flex-start);
      column-gap: get-rem-desktop(24);
      border-bottom: 1px solid $colour-cream;
      padding-top: get-rem-desktop(11);
      padding-bottom: get-rem-desktop(10);

      &:first-child {
        padding-top: get-rem-desktop(5);
      }

      svg {
        width: get-rem-desktop(12);
        stroke: $colour-orange;
        fill: none;
        margin-top: 0.25em;
      }

      .media-text-bullet-list-text {
        width: 100%;

        p {
          margin: 0;

          &:not(:last-child) {
            margin-bottom: get-rem-desktop(8);
          }
        }
      }
    }
  }

  .button-wrap {
    margin-top: get-rem-desktop(24);
  }

  .media-text-heading {
    margin-bottom: get-rem-desktop(14);

    @media only screen and (max-width: 768px) {
      margin-bottom: get-rem-mobile(10);
    }
  }

  .media-wrap {
    position: relative;
    aspect-ratio: 774 / 500;

    @media only screen and (max-width: 768px) {
      aspect-ratio: 3 / 4;
    }
    
    .carousel-container {
      position: relative;

      .splide__slide {
        aspect-ratio: 774 / 500;

        @media only screen and (max-width: 768px) {
          aspect-ratio: 3 / 4;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .carousel-hover-left,
    .carousel-hover-right {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50%;
      z-index: 10;
    }

    .carousel-hover-left {
      left: 0;
      cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='72' height='72' viewBox='0 0 72 72' fill='none'%3E%3Ccircle cx='36' cy='36' r='35' stroke='%23FFF9ED' style='stroke:%23FFF9ED;stroke:color(display-p3 1.0000 0.9751 0.9290);stroke-opacity:1;' stroke-width='2'/%3E%3Cpath d='M41 24L28 37L41 50' stroke='%23FFF9ED' style='stroke:%23FFF9ED;stroke:color(display-p3 1.0000 0.9751 0.9290);stroke-opacity:1;' stroke-width='2'/%3E%3C/svg%3E") 36 36, auto;
    }

    .carousel-hover-right {
      right: 0;
      cursor: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='72' height='72' viewBox='0 0 72 72' fill='none'%3E%3Ccircle cx='36' cy='36' r='35' transform='matrix(-1 -8.74228e-08 -8.74228e-08 1 72 6.29444e-06)' stroke='%23FFF9ED' style='stroke:%23FFF9ED;stroke:color(display-p3 1.0000 0.9751 0.9290);stroke-opacity:1;' stroke-width='2'/%3E%3Cpath d='M31 24L44 37L31 50' stroke='%23FFF9ED' style='stroke:%23FFF9ED;stroke:color(display-p3 1.0000 0.9751 0.9290);stroke-opacity:1;' stroke-width='2'/%3E%3C/svg%3E") 36 36, auto;
    }

    .video-placeholder {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .video-play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: get-rem-desktop(80);
        height: get-rem-desktop(80);
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include transition-multiple(background-color 500ms cubic-bezier(0.25,0.1,0.25,1), transform 500ms cubic-bezier(0.25,0.1,0.25,1));

        svg {
          width: get-rem-desktop(24);
          height: get-rem-desktop(24);
          color: $colour-black;
          margin-left: get-rem-desktop(3); // Slight offset to center the triangle
        }

        @media (hover: hover) {
          &:hover {
            background-color: rgba(255, 255, 255, 1);
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
      }
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.media-text-section.layout-media-with-text-h5 {
  @media only screen and (max-width: 768px) {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-mobile(80);
  }
}

.media-text-section.layout-media-with-text-h4-bullet-list {
  padding-top: get-rem-desktop(120);
  padding-bottom: get-rem-desktop(120);

  @media only screen and (max-width: 768px) {
    &.align-right {
      @include flex;
      @include flex-direction(column-reverse);
      row-gap: get-rem-mobile(35);
    }
  }

  .button-wrap {
    margin-top: get-rem-desktop(24);
  }
}

.h4-body-group {
  .media-text-section {
    padding-top: get-rem-desktop(120);
    padding-bottom: get-rem-desktop(120);
  }
}

.media-text-section.room-type {
  padding-top: get-rem-desktop(120);
  padding-bottom: get-rem-desktop(120);

  @media only screen and (max-width: 768px) {
    &.align-right {
      @include flex;
      @include flex-direction(column-reverse);
      row-gap: get-rem-mobile(35);
    }
  }
}

.room-type-group {
  .media-text-section.room-type {
    &:first-child {
      padding-top: get-rem-desktop(200);

      @media only screen and (max-width: 768px) {
        padding-top: get-rem-mobile(140);
        padding-bottom: get-rem-mobile(40);
      }
    }
    
    &:last-child {
      padding-bottom: get-rem-desktop(200);

      @media only screen and (max-width: 768px) {
        padding-top: get-rem-mobile(40);
        padding-bottom: get-rem-mobile(140);
      }
    }

    &:not(:first-child):not(:last-child) {
      padding-top: get-rem-desktop(120);
      padding-bottom: get-rem-desktop(120);

      @media only screen and (max-width: 768px) {
        padding-top: get-rem-mobile(40);
        padding-bottom: get-rem-mobile(40);
      }
    }
  }
}

.media-text-section.layout-media-with-text-h4-body {
  @media only screen and (max-width: 768px) {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-mobile(48);

    &.align-right {
      @include flex;
      @include flex-direction(column-reverse);
      row-gap: get-rem-mobile(48);
    }
  }
}

.media-text-section.layout-media-with-text-h4-body-room-links,
.media-text-section.layout-media-with-text-h4-body-activity-links,
.media-text-section.layout-media-with-text-h4-body-links,
.links-section {
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(20);

  @media only screen and (max-width: 768px) {
    row-gap: get-rem-mobile(48);
  }

  .media-text-links-carousel {
    @media only screen and (max-width: 768px) {
      .splide {
        margin-left: get-rem-mobile(-24);
        margin-right: get-rem-mobile(-24);

        .splide__slide {
          padding-left: get-rem-mobile(24);
          padding-right: get-rem-mobile(24);
        }
      }
    }
  }

  .media-text-links-list {
    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(48);
    }
  }

  .media-text-links-list--mobile {
    display: none;

    @media only screen and (max-width: 768px) {
      display: flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(48);
    }
  }

  .two-across {
    .media-text-link {
      .media-wrap {
        aspect-ratio: 774 / 500;

        @media only screen and (max-width: 768px) {
          aspect-ratio: 3 / 4;
        }
      }
    }
  }
  
  .col-1 {
    .button-wrap {
      margin-top: get-rem-desktop(24);
    }
  }

  .media-text-link {
    .media-wrap {
      aspect-ratio: 377 / 500;
      margin-bottom: get-rem-desktop(24);
      overflow: hidden;
      position: relative;

      @media only screen and (max-width: 768px) {
        aspect-ratio: 3 / 4;
      }
    }

    .media-text-heading {
      margin-bottom: get-rem-desktop(10);
    }

    .media-text-body {
      max-width: get-rem-desktop(700);
    }

    .media-text-date {
      margin-top: get-rem-desktop(36);
    }
  }

  .media-text-links-carousel {
    .media-text-links-carousel-controls {
      margin-top: get-rem-desktop(48);
      @include flex;
      @include justify-content(space-between);
      @include align-items(center);
      column-gap: get-rem-desktop(24);
    }

    .carousel-arrow {
      width: get-rem-desktop(36);
      height: get-rem-desktop(36);
      cursor: pointer;

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }

      svg {
        stroke: $colour-black;
        fill: none;
      }
    }

    .carousel-pagination {
      text-align: center;

      @media only screen and (min-width: 769px) {
        display: none;
      }
    }
  }
}

.more-rooms-section {
  padding-top: get-rem-desktop(200);
  padding-bottom: get-rem-desktop(200);
  // @include flex;
  // @include flex-direction(column);
  // row-gap: get-rem-desktop(20);

  // @media only screen and (max-width: 768px) {
  //   row-gap: get-rem-mobile(48);
  // }

  // @media only screen and (max-width: 768px) {
  //   @include flex;
  //   @include flex-direction(column);
  //   row-gap: get-rem-mobile(48);

  //   &.align-right {
  //     @include flex;
  //     @include flex-direction(column-reverse);
  //     row-gap: get-rem-mobile(48);
  //   }
  // }

  .section-heading {
    text-align: center;
    margin-bottom: get-rem-desktop(48);
  }

  // Desktop: Show grid, hide carousel
  .more-rooms-grid {
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  // Mobile: Show carousel, hide grid
  .more-rooms-carousel {
    display: none;

    @media only screen and (max-width: 768px) {
      display: block;

      .splide {
        margin-left: get-rem-mobile(-24);
        margin-right: get-rem-mobile(-24);

        .splide__slide {
          padding-left: get-rem-mobile(24);
          padding-right: get-rem-mobile(24);
        }
      }

      .media-text-link {
        @include flex;
        @include flex-direction(column);

        .media-wrap {
          aspect-ratio: 3 / 4;
          margin-bottom: get-rem-mobile(24);
        }
      }

      .more-rooms-carousel-controls {
        margin-top: get-rem-mobile(32);
        @include flex;
        @include justify-content(space-between);
        @include align-items(center);
        column-gap: get-rem-mobile(24);
      }

      .carousel-arrow {
        width: get-rem-mobile(36);
        height: get-rem-mobile(36);
        cursor: pointer;

        &:disabled {
          opacity: 0.3;
          cursor: not-allowed;
        }

        svg {
          stroke: $colour-black;
          fill: none;
        }
      }

      .carousel-pagination {
        text-align: center;
      }
    }
  }

  .media-text-links-carousel {
    @media only screen and (max-width: 768px) {
      .splide {
        margin-left: get-rem-mobile(-24);
        margin-right: get-rem-mobile(-24);

        .splide__slide {
          padding-left: get-rem-mobile(24);
          padding-right: get-rem-mobile(24);
        }
      }
    }
  }

  .media-text-links-list {
    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(48);
    }
  }

  .media-text-links-list--mobile {
    display: none;

    @media only screen and (max-width: 768px) {
      display: flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(48);
    }
  }

  .two-across {
    .media-text-link {
      .media-wrap {
        aspect-ratio: 774 / 500;

        @media only screen and (max-width: 768px) {
          aspect-ratio: 3 / 4;
        }
      }
    }
  }
  
  .col-1 {
    .button-wrap {
      margin-top: get-rem-desktop(24);
    }
  }

  .media-text-link {
    .media-wrap {
      aspect-ratio: 377 / 500;
      margin-bottom: get-rem-desktop(24);
      overflow: hidden;
      position: relative;

      @media only screen and (max-width: 768px) {
        aspect-ratio: 3 / 4;
      }
    }

    .media-text-heading {
      margin-bottom: get-rem-desktop(10);
    }

    .media-text-body {
      max-width: get-rem-desktop(700);
    }

    .media-text-date {
      margin-top: get-rem-desktop(36);
    }
  }

  .media-text-links-carousel {
    .media-text-links-carousel-controls {
      margin-top: get-rem-desktop(48);
      @include flex;
      @include justify-content(space-between);
      @include align-items(center);
      column-gap: get-rem-desktop(24);
    }

    .carousel-arrow {
      width: get-rem-desktop(36);
      height: get-rem-desktop(36);
      cursor: pointer;

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }

      svg {
        stroke: $colour-black;
        fill: none;
      }
    }

    .carousel-pagination {
      text-align: center;

      @media only screen and (min-width: 769px) {
        display: none;
      }
    }
  }
}

.media-text-section.layout-media-with-text-multiple-text-blocks {
  position: relative;

  @media only screen and (max-width: 768px) {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-mobile(80);
  }

  .media-text-multiple-blocks {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(360);

    @media only screen and (max-width: 768px) {
      row-gap: get-rem-mobile(80);
    }
  }
  
  .col-3 {
    height: fit-content;
    position: sticky;
    top: get-rem-desktop(124);
  }
}

// BREAK SECTION ------------------

.break-section {
  min-height: 100svh;

  .break-content {
    height: 100%;
    @include flex;
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
    text-align: center;
  
    .button {
      width: fit-content;
      min-width: get-rem-desktop(376);
      display: block;
      margin: 0 auto;
      margin-top: get-rem-desktop(24);

      @media only screen and (max-width: 768px) {
        min-width: unset;
        width: 100%;
      }
    }
  }
}

.break-section.layout-1 {
  color: $colour-cream;

  .break-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    padding-top: get-rem-desktop(80);
    padding-bottom: get-rem-desktop(80);

    @media only screen and (max-width: 768px) {
      padding-top: get-rem-mobile(48);
      padding-bottom: get-rem-mobile(48);
    }

    .break-heading {
      max-width: get-rem-desktop(850);
      margin: 0 auto;
    }

    .break-body {
      max-width: get-rem-desktop(740);
      margin: 0 auto;
    }
  }
}

.break-section.layout-2 {
  padding-top: get-rem-desktop(80);
  padding-bottom: get-rem-desktop(80);

  @media only screen and (max-width: 768px) {
    .break-image {
      aspect-ratio: 3 / 4;
    }
  }

  &.background-black {
    background-color: $colour-black;
    color: $colour-cream;

    .button {
      &--outline {
        border-color: $colour-cream;
        color: $colour-cream;

        @media (hover: hover) {
          &:hover {
            color: $colour-black;
          }
        }
      }
    }
  }

  &.background-green {
    background-color: $colour-green;
    color: $colour-cream;

    .button {
      &--outline {
        border-color: $colour-cream;
        color: $colour-cream;

        @media (hover: hover) {
          &:hover {
            color: $colour-black;
          }
        }
      }
    }
  }

  &.background-orange {
    background-color: $colour-orange;
    color: $colour-black;
  }

  .break-content {
    padding-right: get-rem-desktop(60);

    @media only screen and (max-width: 768px) {
      padding-right: 0;
      margin-bottom: get-rem-mobile(48);
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(36);
    }

    .break-body {
      max-width: get-rem-desktop(580);
      margin: 0 auto;
    }
  }

  .break-image {
    height: 100%;
  }
}

// CAROUSEL SECTION ------------------

.carousel-section {
  height: 100svh;
  width: 100%;
  padding-top: get-rem-desktop(200);
  padding-bottom: get-rem-desktop(200);

  @media only screen and (max-width: 768px) {
    height: calc(get-rem-mobile(500) + get-rem-mobile(80) + get-rem-mobile(80));
    padding-top: get-rem-mobile(80);
    padding-bottom: get-rem-mobile(80);
  }

  .splide {
    height: 100%;

    .splide__track {
      height: 100%;
      overflow: hidden;

      .splide__slide {
        width: auto !important;
        height: 100%;
        position: relative;
        aspect-ratio: 1068 / 960;
      }
    }
  }
}

// MENU SECTION ------------------

.menu-section {
  padding-top: get-rem-desktop(200);
  padding-bottom: get-rem-desktop(200);

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(140);
    padding-bottom: get-rem-mobile(140);
  }

  .menu-tabs {
    @include flex;
    column-gap: get-rem-desktop(24);
    margin-bottom: get-rem-desktop(72);

    .menu-tab {
      position: relative;
      cursor: pointer;

      &:after {
        content: "";
        transform-origin: 100%;
        background: $colour-orange;
        height: 1px;
        @include transition(transform .83s cubic-bezier(.33, 0, .13, 1));
        position: absolute;
        bottom: get-rem-desktop(-5);
        left: 0;
        right: 0;
        transform: scaleX(0);
      }

      &.active {
        &:after {
          transform-origin: 0;
          transform: scaleX(1);
        }
      }

      @media (hover: hover) {
        &:hover {
          &:after {
            transform-origin: 0;
            transform: scaleX(1);
          }
        }
      }
    }
  }

  .menu-content-wrap {
    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(54);
    }
  }

  .menu-tab-header {
    padding-bottom: get-rem-desktop(25);
    margin-bottom: get-rem-desktop(12);
    border-bottom: 1px solid $colour-orange;
  }

  .menu-content {
    margin-top: -0.3em;
  }

  .menu-image {
    .media-wrap {
      aspect-ratio: 3 / 4;
      position: relative;
    }
  }
}

.menu-section.layout-food-menu {
  .menu-tab-header {
    @include flex;
    @include justify-content(space-between);
    @include align-items(center);
    column-gap: get-rem-desktop(24);
  }

  .menu-categories {
    @include flex;
    @include flex-direction(column);
    row-gap: get-rem-desktop(65);

    .menu-category-name {
      padding-bottom: get-rem-desktop(22);
      margin-bottom: get-rem-desktop(15);
      border-bottom: 1px solid $colour-orange;
    }

    .menu-items {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-desktop(10);

      .menu-item-header {
        @include flex;
        @include justify-content(space-between);
        column-gap: get-rem-desktop(24);
      }

      .menu-item-extras {
        color: $colour-grey;
        @include flex;
        @include flex-wrap(wrap);
        column-gap: get-rem-desktop(24);
        margin-top: get-rem-desktop(5);

        .menu-extra {
          white-space: nowrap;
        }
      }
    }
  }
}

.menu-section.layout-spa-menu {
  .menu-tab-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: get-rem-desktop(24);

    .time-column {
      grid-column: 5;
    }

    .price-column {
      grid-column: 6;
      text-align: right;
    }
  }

  .spa-treatment {
    border-bottom: 1px solid $colour-orange;
    padding-bottom: get-rem-desktop(25);
    margin-bottom: get-rem-desktop(12);

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .spa-treatment-name {
      margin-bottom: get-rem-desktop(18);
    }

    .spa-treatment-content {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: get-rem-desktop(24);

      .spa-treatment-description {
        grid-column: 1 / 4;
      }

      .spa-treatment-options {
        grid-column: 5 / 7;
        @include flex;
        @include flex-direction(column);
        row-gap: get-rem-desktop(6);

        .spa-treatment-option {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: get-rem-desktop(24);

          div:last-of-type {
            text-align: right;
          }
        }
      }
    }
  }
}

.menu-section.layout-venue-menu {
  .menu-tab-header {
    border-top: 1px solid $colour-orange;
    padding-top: get-rem-desktop(12);
    margin-bottom: get-rem-desktop(20);

    .venue-title {
      margin-bottom: get-rem-desktop(24);
    }
  }

  .venue-spec {
    border-bottom: 1px solid $colour-orange;
    padding-bottom: get-rem-desktop(20);
    margin-bottom: get-rem-desktop(20);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: get-rem-desktop(24);

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .venue-spec-description p {
      margin-bottom: get-rem-desktop(6);
    }
  }
}

// ACTIVITY SECTION ------------------

.activity-filter {
  @include flex;
  @include justify-content(space-between);
  @include align-items(center);
  padding-top: get-rem-desktop(80);
  padding-bottom: get-rem-desktop(100);

  @media only screen and (max-width: 768px) {
    display: none;
  }

  .activity-filter-options {
    @include flex;
    column-gap: get-rem-desktop(24);

    .activity-filter-option {
      @include flex;
      @include align-items(center);
      cursor: pointer;
      column-gap: get-rem-desktop(8);
      @include transition(all 500ms cubic-bezier(0.25,0.1,0.25,1));

      .activity-filter-box {
        width: get-rem-desktop(28);
        height: get-rem-desktop(28);
        border: 1px solid $colour-black;
        padding: get-rem-desktop(5);
        @include transition(all 500ms cubic-bezier(0.25,0.1,0.25,1));

        .activity-filter-box-inner {
          width: 100%;
          height: 100%;
          background-color: transparent;
          @include transition(all 500ms cubic-bezier(0.25,0.1,0.25,1));
        }
      }

      span:not(.activity-filter-box) {
        color: $colour-black;
        text-transform: capitalize;
        @include transition(all 500ms cubic-bezier(0.25,0.1,0.25,1));
      }

      &.active {
        .activity-filter-box {
          border-color: $colour-orange;
          
          .activity-filter-box-inner {
            background-color: $colour-orange;
          }
        }

        span:not(.activity-filter-box) {
          color: $colour-black;
        }
      }
    }
  }
}

.activity-section {
  padding-top: get-rem-desktop(200);
  padding-bottom: get-rem-desktop(200);

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(140);
    padding-bottom: get-rem-mobile(140);
  }

  .activity-section-heading {
    text-align: center;
    margin-bottom: get-rem-desktop(48);
  }

  .media-wrap {
    aspect-ratio: 774 / 500;
    position: relative;
    margin-bottom: get-rem-desktop(24);
    position: relative;
  }

  .activity-title {
    margin-bottom: get-rem-desktop(10);
  }

  .activity-grid {
    row-gap: get-rem-desktop(72);

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }

  &.no-carousel {
    .activity-grid {
      @media only screen and (max-width: 768px) {
        display: grid;
      }
    }
  }

  .activity-carousel {
    display: none;

    @media only screen and (max-width: 768px) {
      display: block;

      .splide {
        margin-left: get-rem-mobile(-24);
        margin-right: get-rem-mobile(-24);

        .splide__slide {
          padding-left: get-rem-mobile(24);
          padding-right: get-rem-mobile(24);
        }
      }
    }

    .activity-item {
      @include flex;
      @include flex-direction(column);

      .media-wrap {
        aspect-ratio: 3 / 4;
        margin-bottom: get-rem-mobile(24);
      }
    }

    .activity-carousel-controls {
      margin-top: get-rem-mobile(32);
      @include flex;
      @include justify-content(space-between);
      @include align-items(center);
      column-gap: get-rem-mobile(24);
    }

    .carousel-arrow {
      width: get-rem-mobile(36);
      height: get-rem-mobile(36);
      cursor: pointer;

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }

      svg {
        stroke: $colour-black;
        fill: none;
      }
    }

    .carousel-pagination {
      text-align: center;
    }
  }
}

.activity-date-time {
  margin-top: get-rem-desktop(36);
}

.activity-section.layout-4-activities {
  .media-wrap {
    aspect-ratio: 377 / 500;
  }
}

body.page-type-activities {
  .activity-section {
    padding-top: 0;

    @media only screen and (max-width: 768px) {
      padding-top: get-rem-mobile(140);
    }
  }

  .activity-grid {
    row-gap: get-rem-desktop(80);
  }
}

// FEATURE SECTION ------------------

.feature-section {
  padding-top: get-rem-desktop(120);
  padding-bottom: get-rem-desktop(120);

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(140);
    padding-bottom: get-rem-mobile(140);
  }

  .feature-section-subheading {
    @include flex;
    column-gap: get-rem-desktop(8);
    margin-bottom: get-rem-desktop(20);

    svg {
      width: get-rem-desktop(24);
      stroke: $colour-orange;
      fill: none;
    }
  }

  .feature-section-heading {
    margin-bottom: get-rem-desktop(48);
  }

  .feature-grid {
    row-gap: get-rem-desktop(72);

    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(80);
    }
  }

  .feature-item {
    .media-wrap {
      aspect-ratio: 774 / 500;
      position: relative;
      margin-bottom: get-rem-desktop(20);

      @media only screen and (max-width: 768px) {
        aspect-ratio: 3 / 4;
      }
    }

    .feature-heading {
      margin-bottom: get-rem-desktop(16);
    }
  }
}

.feature-section.layout-4-features {
  .media-wrap {
    aspect-ratio: 377 / 500;
  }
}

// LINKS SECTION ------------------

.links-section {
  padding-top: get-rem-desktop(200);
  padding-bottom: get-rem-desktop(200);

  @media only screen and (max-width: 768px) {
    padding-top: get-rem-mobile(140);
    padding-bottom: get-rem-mobile(140);
  }

  .inner-wrap {
    row-gap: get-rem-desktop(48);

    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(80);
    }
  }
}