@use '00_mixins' as *;

body.page-type-homepage {
  .site-header {
    opacity: 1;
    @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
  }

  &.page-home-loader-active {
    .site-header {
      opacity: 0;
    }
  }
}

.page-home {
  .hero-section {
    .loader-logo,
    .hero-content,
    .hero-arrow {
      opacity: 0;
      @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
    }

    .loader-logo.is-visible,
    .hero-content.is-visible,
    .hero-arrow.is-visible {
      opacity: 1;
    }

    .loader-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $colour-orange;
      z-index: 9;
      pointer-events: auto;
      @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
    }

    .loader-overlay.is-hidden {
      opacity: 0;
      pointer-events: none;
    }

    .loader-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: get-rem-desktop(245);
      height: fit-content;
      z-index: 10;
    }

    .hero-content {
      z-index: 11;
    }
  }
}