@use '00_mixins' as *;

.product-page {

  .hero-section {
    position: unset;
    background-color: $colour-beige;
    height: unset;
    min-height: 100svh;

    .hero-image {
      aspect-ratio: 774 / 960;
      width: 100%;
      max-width: 100%;
      min-width: 0;
      overflow: hidden;
      
      .media-wrap {
        aspect-ratio: 774 / 960;
        height: auto;
        width: 100%;
      }
    }

    .hero-content {
      color: $colour-black;
      text-align: left;
      @include justify-content(center);
      row-gap: get-rem-desktop(80);
      max-width: get-rem-desktop(500);

      .product-title {
        margin-bottom: get-rem-desktop(30);
      }
    }
  }

}