@use '00_mixins' as *;

.product-page {

  .product-hero-section {
    background-color: $colour-beige;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: get-rem-desktop(100);
    padding-top: get-rem-desktop(133);
    padding-bottom: get-rem-desktop(24);

    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(48);
      padding-top: get-rem-mobile(116);
      padding-bottom: get-rem-mobile(24);
    }

    .left-column {
      .media-wrap {
        aspect-ratio: 774 / 960;
      }

      .featured-image {
        position: relative;
        opacity: 1 !important;
        background-color: $colour-white;
        max-height: calc(100svh - get-rem-desktop(133) - get-rem-desktop(16));
        margin-left: auto;
        
        img {
          @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
          opacity: 1;
        }

        &.image-changing {
          img {
            opacity: 0.5;
          }
        }
      }

      .extra-images {
        margin-top: get-rem-desktop(16);
        @include flex;
        @include justify-content(center);
        @include flex-wrap(wrap);
        column-gap: get-rem-desktop(8);
        row-gap: get-rem-desktop(8);
        margin-left: auto;

        .extra-image {
          width: calc((100% - 5 * get-rem-desktop(8)) / 6);
          opacity: 1 !important;
          border: 1px solid transparent;
          @include transition(border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

          &.active {
            border: 1px solid $colour-black;
          }
        }
      }
    }

    .right-column {
      color: $colour-black;
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-desktop(80);
      max-width: get-rem-desktop(500);

      @media only screen and (max-width: 768px) {
        row-gap: get-rem-mobile(75);
      }

      .product-title {
        margin-bottom: get-rem-desktop(30);
      }
    }
  }

}

.product-options-container,
.product-options {
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(36);
}

.product-option {
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(8);
}

.product-option-swatches {
  @include flex;
  column-gap: get-rem-desktop(10);
}

.product-option-swatch {
  @include reset-input;
  width: get-rem-desktop(40);
  height: get-rem-desktop(40);
  padding: get-rem-desktop(7);
  border: 1px solid transparent;
  cursor: pointer;
  will-change: border-color;
  @include transition(border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

  span {
    width: 100%;
    height: 100%;
    display: block;
  }

  &.selected {
    border-color: $colour-black;
  }

  @media (hover: hover) {
    &:hover:not(.selected) {
      border-color: $colour-black;
    }
  }
}

.product-option-buttons {
  @include flex;
  column-gap: get-rem-desktop(10);
}

.product-option-button {
  @include reset-input;
  width: get-rem-desktop(40);
  height: get-rem-desktop(40);
  border: 1px solid transparent;
  color: $colour-black;
  cursor: pointer;
  will-change: border-color;
  @include transition(border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

  &.selected {
    border-color: $colour-black;
  }

  @media (hover: hover) {
    &:hover:not(.selected) {
      border-color: $colour-black;
    }
  }
}

.product-option-select {
  @include reset-input;
  width: 100%;
  padding: get-rem-desktop(10) get-rem-desktop(12);
  border: 1px solid $colour-black;
  color: $colour-black;
  background-color: transparent;
  font-family: inherit;
  @include font-size(16px, 16px);
  cursor: pointer;
  will-change: border-color;
  @include transition(border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

  &:focus {
    outline: none;
    border-color: $colour-black;
  }

  @media (hover: hover) {
    &:hover {
      border-color: $colour-black;
    }
  }

  // Custom arrow styling
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%2326241E' stroke-width='1'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right get-rem-desktop(12) center;
  padding-right: get-rem-desktop(32);

  // Remove default arrow in IE
  &::-ms-expand {
    display: none;
  }

  // Remove default arrow in Firefox
  -moz-appearance: none;
  appearance: none;
}

.product-add-to-basket {
  width: 100%;
  margin-top: get-rem-desktop(24);

  @media only screen and (max-width: 768px) {
    margin-top: get-rem-mobile(20);
  }

  &:disabled {
    background-color: $colour-black;
    cursor: not-allowed;

    &:hover {
      background-color: $colour-black;
    }
  }
}

// Quantity Dropdown Styles
.quantity-selector {
  @include flex;
  @include align-items(center);
  position: relative;
  margin-left: get-rem-desktop(-8);

  &__button {
    @include reset-input;
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    width: get-rem-desktop(26);
    height: get-rem-desktop(26);
    background-color: transparent;
    color: $colour-black;
    cursor: pointer;
    padding: 0;
    @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

    svg {
      width: get-rem-desktop(10);
      fill: $colour-black;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }

    @media (hover: hover) {
      &:hover:not(:disabled) {
        opacity: 0.6;
      }
    }
  }

  &__value {
    display: inline-block;
    min-width: get-rem-desktop(26);
    text-align: center;
    color: $colour-black;
  }
}
