@use '00_mixins' as *;

.product-page {

  .product-hero-section {
    background-color: $colour-beige;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: get-rem-desktop(100);
    padding-top: get-rem-desktop(133);
    padding-bottom: get-rem-desktop(24);

    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(48);
      padding-top: get-rem-mobile(116);
      padding-bottom: get-rem-mobile(24);
    }

    .left-column {
      .media-wrap {
        aspect-ratio: 774 / 960;
      }

      .featured-image {
        position: relative;
        opacity: 1 !important;
        background-color: $colour-white;
        max-height: calc(100svh - get-rem-desktop(133) - get-rem-desktop(16));
        margin-left: auto;
        
        img {
          @include transition(opacity 400ms cubic-bezier(0.25,0.1,0.25,1));
          opacity: 1;
        }

        &.image-changing {
          img {
            opacity: 0.5;
          }
        }
      }

      .extra-images {
        margin-top: get-rem-desktop(16);
        @include flex;
        @include justify-content(center);
        @include flex-wrap(wrap);
        column-gap: get-rem-desktop(8);
        row-gap: get-rem-desktop(8);
        margin-left: auto;

        .extra-image {
          width: calc((100% - 5 * get-rem-desktop(8)) / 6);
          opacity: 1 !important;
          border: 1px solid transparent;
          @include transition(border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

          &.active {
            border: 1px solid $colour-black;
          }
        }
      }
    }

    .right-column {
      color: $colour-black;
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-desktop(80);
      max-width: get-rem-desktop(500);

      @media only screen and (max-width: 768px) {
        row-gap: get-rem-mobile(75);
      }

      .product-title {
        margin-bottom: get-rem-desktop(30);
      }
    }
  }

}

.product-options-container,
.product-options {
  @include flex;
  @include flex-direction(column);
  row-gap: get-rem-desktop(36);
}

.product-option-label {
  display: block;
  margin-bottom: get-rem-desktop(8);
}

.product-option-select-wrapper {
  position: relative;
  width: 100%;
}

.product-option-swatches {
  @include flex;
  column-gap: get-rem-desktop(10);
}

.product-option-swatch {
  @include reset-input;
  width: get-rem-desktop(40);
  height: get-rem-desktop(40);
  padding: get-rem-desktop(7);
  border: 1px solid transparent;
  cursor: pointer;
  will-change: border-color;
  @include transition(border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

  span {
    width: 100%;
    height: 100%;
    display: block;
  }

  &.selected {
    border-color: $colour-black;
  }

  @media (hover: hover) {
    &:hover:not(.selected) {
      border-color: $colour-black;
    }
  }
}

.product-option-buttons {
  @include flex;
  column-gap: get-rem-desktop(10);
}

.product-option-button {
  @include reset-input;
  width: get-rem-desktop(40);
  height: get-rem-desktop(40);
  border: 1px solid transparent;
  color: $colour-black;
  cursor: pointer;
  will-change: border-color;
  @include transition(border-color 500ms cubic-bezier(0.25,0.1,0.25,1));

  &.selected {
    border-color: $colour-black;
  }

  @media (hover: hover) {
    &:hover:not(.selected) {
      border-color: $colour-black;
    }
  }
}

.product-option-select {
  @include reset-input;
  width: 100%;
  padding: get-rem-desktop(18) get-rem-desktop(24);
  padding-right: get-rem-desktop(50);
  border: 1px solid $colour-black;
  color: $colour-black;
  background-color: transparent;
  font-family: inherit;
  @include font-size(16px, 16px);
  cursor: pointer;
  will-change: border-color;
  @include transition(border-color 250ms cubic-bezier(0.25,0.1,0.25,1));
  @include flex;
  @include align-items(center);
  @include justify-content(space-between);
  position: relative;

  &[data-placeholder] {
    color: $colour-black;
  }

  &:focus {
    outline: none;
    border-color: $colour-black;
  }

  @media (hover: hover) {
    &:hover {
      border-color: $colour-black;
    }
  }
}

.product-option-select-icon {
  position: absolute;
  right: get-rem-desktop(24);
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  @include flex;
  @include align-items(center);
  @include justify-content(center);
  @include transition(transform 250ms cubic-bezier(0.25, 0.1, 0.25, 1));

  .product-option-select[data-state="open"] & {
    transform: translateY(-50%) rotate(180deg);
  }
}

.product-option-select-content {
  overflow: hidden;
  background-color: $colour-beige;
  border: 1px solid $colour-black;
  z-index: 1000;
  width: var(--radix-select-trigger-width);
  max-width: var(--radix-select-trigger-width);
  max-height: get-rem-desktop(300);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-option-select-viewport {
  padding: get-rem-desktop(4);
}

.product-option-select-item {
  padding: get-rem-desktop(12) get-rem-desktop(24);
  cursor: pointer;
  color: $colour-black;
  font-family: inherit;
  @include font-size(16px, 16px);
  @include transition(background-color 500ms cubic-bezier(0.25,0.1,0.25,1));
  outline: none;

  &[data-highlighted] {
    background-color: $colour-cream;
  }

  &[data-state="checked"] {
    background-color: $colour-cream;
  }
}

.product-add-to-basket {
  width: 100%;
  margin-top: get-rem-desktop(24);

  @media only screen and (max-width: 768px) {
    margin-top: get-rem-mobile(20);
  }

  &:disabled {
    background-color: $colour-black;
    cursor: not-allowed;

    &:hover {
      background-color: $colour-black;
    }
  }
}

// Quantity Dropdown Styles
.quantity-selector {
  @include flex;
  @include align-items(center);
  position: relative;
  margin-left: get-rem-desktop(-8);

  &__button {
    @include reset-input;
    @include flex;
    @include align-items(center);
    @include justify-content(center);
    width: get-rem-desktop(26);
    height: get-rem-desktop(26);
    background-color: transparent;
    color: $colour-black;
    cursor: pointer;
    padding: 0;
    @include transition(opacity 500ms cubic-bezier(0.25,0.1,0.25,1));

    svg {
      width: get-rem-desktop(10);
      fill: $colour-black;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }

    @media (hover: hover) {
      &:hover:not(:disabled) {
        opacity: 0.6;
      }
    }
  }

  &__value {
    display: inline-block;
    min-width: get-rem-desktop(26);
    text-align: center;
    color: $colour-black;
  }
}
