@use '00_mixins' as *;

.product-page {

  .product-hero-section {
    background-color: $colour-beige;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: get-rem-desktop(100);
    padding-top: get-rem-desktop(133);
    padding-bottom: get-rem-desktop(24);

    @media only screen and (max-width: 768px) {
      @include flex;
      @include flex-direction(column);
      row-gap: get-rem-mobile(48);
      padding-top: get-rem-mobile(116);
      padding-bottom: get-rem-mobile(24);
    }

    .left-column {
      .featured-image {
        aspect-ratio: 774 / 960;
        width: 100%;
        max-width: 100%;
        min-width: 0;
        overflow: hidden;
        
        .media-wrap {
          aspect-ratio: 774 / 960;
          height: auto;
          width: 100%;
        }
      }
    }

    .right-column {
      color: $colour-black;
      @include flex;
      @include flex-direction(column);
      @include justify-content(center);
      row-gap: get-rem-desktop(80);
      max-width: get-rem-desktop(500);

      @media only screen and (max-width: 768px) {
        row-gap: get-rem-mobile(75);
      }

      .product-title {
        margin-bottom: get-rem-desktop(30);
      }
    }
  }

}