@import "tailwindcss";

@font-face {
  font-family: 'ABC Arizona Flare';
  src: url('./fonts/ABCArizonaFlare-Thin-Trial.woff') format('woff'),
       url('./fonts/ABCArizonaFlare-Thin-Trial.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ABC Arizona Flare';
  src: url('./fonts/ABCArizonaFlare-Light-Trial.woff') format('woff'),
       url('./fonts/ABCArizonaFlare-Light-Trial.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Use default browser scrolling */

/* Smooth scrolling for hash links */
html {
  scroll-behavior: smooth;
}